button{background-color:white;/*Color inicial del botón*/
    color: black;
    padding: 2px;
    margin-bottom: 10px;
    border: 1px solid black;
    width: 8vw;
    height: 5vh;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    margin-left: auto;
    display: block;
}

button:hover{
    background-color:rgba(255, 255, 255, 0.851);/*Color del botón cuando el ratón pasa por encima*/
color: gray;
}
a{
   color: black;
   padding: 10px 20px;
   cursor: pointer;
}
a:hover{
    color: #1e3932;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

.login-container{background-color: #1e3932;
width: 100%;
margin: top 30px;
display: flex;
justify-content: space-between;
align-items: center;
flex-direction:row;
img {
    height: auto;
    max-width: 100%;
    width: 800px;
    height: 350px;
}
}

.login-container--Text{text-align: center;
color: white;}

h1{font-weight: 700;
font-style: bold;}

.login-container-azul{background-color: #007bff;
    width: 100%;
    margin-top:30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction:row;
    
    img {
        height: auto;
        max-width: 100%;
        width: 800px;
        height: 350px;
    }
    }
    
.login-container-rojo{background-color: #dc3545;
    margin-top:30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction:row;
    
    img {
        height: auto;
        max-width: 100%;
        width: 800px;
        height: 350px;
    }
}
.login-container-verde{background-color: #1e3932;

margin-top:30px;
display: flex;
justify-content: space-between;
align-items: center;
flex-direction:row;

img {
    height: auto;
    max-width: 100%;
    width: 800px;
    height: 350px;
}
}
.login-container-cereza{background-color: #dc3545;
    margin-top:30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction:row;
    
    img {
        height: auto;
        max-width: 100%;
        width: 800px;
        height: 350px;
    }
    }